.page {
  display: grid;
  grid-template-columns: 1fr 250px; /* main + right sidebar */

  grid-template-areas:
    "top-ad top-ad"
    "header header"
    "decor-middle-img ad-right-img"
    "main ad-right-img"
    "order-heading review-right"
    "selection-card review-right"
    "footer footer";
}

header {
  display: flex;
}

/* Defining grid areas */
.top-ad {
  grid-area: top-ad;
}

header {
  grid-area: header;
}

.decor-middle-img {
  grid-area: decor-middle-img;
}

main {
  grid-area: main;
}

.order-heading {
  grid-area: order-heading;
}

.ad-right-img {
  grid-area: ad-right-img;
}

.review-right {
  grid-area: review-right;
}

.selection-card {
  grid-area: selection-card;
}

footer {
  grid-area: footer;
}
