.page {
  display: grid;
  grid-template-columns: 1fr 250px; /* main + right sidebar */

  grid-template-areas:
    "top-ad top-ad"
    "header header"
    "decor-middle ad-right"
    "main ad-right"
    "repair-finder-heading review-right"
    "selection-card review-right"
    "footer footer";
}
