.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-center.column {
  flex-direction: column;
}

.flex-center.row {
  flex-direction: row;
}

.hidden {
  display: none;
}

/* INDEX PAGE */

.site-summary-card {
  display: flex;
  flex-direction: column;
  background: linear-gradient(
    to bottom,
    #1f2a44 0%,
    #4a6fd1 15%,
    #8fb2ff 55%,
    #c7dbff 100%
  );
  border-radius: 10px;
}

/* REPAIRS PAGE */

.repairs-page-howitworks-card {
  margin: 0;
  background-color: rgba(224, 134, 16, 0.877);
}

/* LOCATIONS PAGE */

.locations-heading {
  background-color: aliceblue;
}

/* Animation keyframes */
@keyframes scroll-ad {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
