.hero {
  justify-self: center;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top-ad {
  width: 100vw;
  overflow: hidden;
  background-color: blue;
}

.top-ad-container {
  display: inline-block;
  white-space: nowrap;
  animation: scroll-ad 10s linear infinite;
}

.img-top-ad {
  display: inline-block;
}

/* Animation keyframes */
@keyframes scroll-ad {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
